body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f8f8f8;
}

#root {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.endGame {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.container1 {
  display: flex;
  margin: auto;
  position: relative;
}

.container2 {
  position: relative;
  padding: 10px;
  transition: opacity 1s;
}
.container2.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.container2.yourBoard {
  margin-left: auto;
}
.container2.enemyBoard {
  margin-right: auto;
}
.ship {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.17);
  margin-bottom: 10px;
}
.ship.selected {
  background-color: rgba(35, 208, 184, 0.5);
}
.ship.sunk {
  background-color: rgba(255, 0, 0, 0.5);
}
.yourShips {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 140px;
  position: absolute;
  left: -150px;
  top: 0;
}
.enemyShips {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  position: absolute;
  top: 0;
  right: -150px;
}
.startBoard {
  display: flex;
  width: 100%;
}
.boxBoard {
  width: 435px;
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #00000012;
  border-radius: 20px;
}

.grid {
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.cell {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*

multiple class selector

.cell.active {
  color: blue;
}
.cell.active.sunk {
  color: green;
}*/

.numbers-row {
  display: flex;
}
.numbers-row .cell-text,
.letters-collumn .cell-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.letters-collumn {
  display: flex;
  flex-direction: column;
}

.cell-text {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-status {
  color: #23d0b8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 480px;
  margin-bottom: 20px;
}

.mouse {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.text_mouse {
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  margin: 25px;
  width: 65px;
  height: 40px;
  border-radius: 5px;
}

.active {
  background-color: rgba(0, 0, 0, 0.17);
}

.occupied {
  background-color: rgba(35, 208, 184, 0.5);
}

.unavailable {
  background-color: rgba(255, 0, 0, 0.5);
}

.hit {
  background-color: yellow;
}

.sunk {
  background-color: #c34141;
}

.miss {
  background-color: lightgrey;
}
