body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  background: rgba(248, 248, 248, 1);
}

h2 {
  text-align: center;
  font-size: 24px;
  padding-top: 40px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 1);
}

#root {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.endGame {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.container1 {
  display: flex;
  margin: auto;
  position: relative;
}

.container2 {
  position: relative;
  padding: 10px;
  transition: opacity 0.5s;
}
.container2.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.container2.yourBoard {
  margin-left: auto;
}
.container2.enemyBoard {
  margin-right: auto;
}
.ship {
  height: 10px;
  background-color: rgba(221, 221, 221, 1);
  margin-bottom: 10px;
}
.ship.selected {
  background-color: rgba(34, 208, 184, 0.5);
}
.ship.sunk {
  background-color: rgba(255, 73, 73, 1);
}
.yourShips {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 140px;
  position: absolute;
  left: -170px;
  top: 0;
}
.yourShips h3 {
  font-size: 14px;
}
.enemyShips {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  position: absolute;
  top: 0;
  right: -170px;
}
.startBoard {
  display: flex;
  width: 100%;
}
.boxBoard {
  padding: 10px 30px 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #00000012;
  border-radius: 20px;
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-top: 1px solid rgba(221, 221, 221, 1);
  border-right: 1px solid rgba(221, 221, 221, 1);
}

.cell {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-left: 1px solid rgba(221, 221, 221, 1);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers-row {
  display: flex;
}
.numbers-row .cell-text,
.letters-collumn .cell-text {
  font-size: 14px;
  color: rgba(119, 119, 119, 1);
}

.letters-collumn {
  display: flex;
  flex-direction: column;
}

.cell-text {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-status {
  margin-top: 0;
  margin-bottom: 15px;
  color: #23d0b8;
  font-weight: 500;
}

footer {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 480px;
  margin-bottom: 20px;
}

.mouse {
  display: inline-flex;
  color: rgba(119, 119, 119, 1);
  font-size: 14px;
  padding-bottom: 20px;
}
.mouse img {
  margin-right: 10px;
}
.mouse b {
  margin-right: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  top: 650px;
  left: 560px;
  padding-top: 20px;
}

.start {
  height: 40px;
  line-height: 40px;
  min-width: 72px;
  margin-right: 30px;
  background: rgba(52, 201, 80, 1);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  border: 0;
  cursor: pointer;
}
.start:focus {
  outline: 0;
}

.refresh {
  width: 58px;
  height: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.refresh div {
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
  color: rgba(52, 201, 80, 1);
}
.refresh img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
/* {
  width: 32px;
  height: 19px;
  text-align: center;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
} */
button.reset {
  margin: 25px;
  width: 65px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(52, 201, 80, 1);
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.occupied {
  background-color: rgba(35, 208, 184, 0.5);
}

.unavailable {
  background-color: rgba(255, 0, 0, 0.5);
}

.hit {
  background-color: yellow;
}

.sunk {
  background-color: #c34141;
}

.miss {
  background-color: lightgrey;
}
